.home{
    display: flex;
    position: relative;
    background-color: rgb(233, 250, 247);
    height: 92vh;
}

.blur{
    background-color: purple;
    width: 10rem;
    height: 05rem;
    border-radius: 50%;
    position: absolute;
    filter: blur(70px);
    z-index: 999;
}


