.peoples {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 1.5rem;
    gap: 0.5rem;
}

.peoples>h3 {
    align-self: center;
    padding: 10px 0;
}

.follow{
    display: flex;
    justify-content: space-around;
}

.viewbtn {
    background-color: blue;
    padding: 5px 15px;
    border-radius: 8px;
    color: aliceblue;
    font-size: 14px;
    width: 25%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    border: none;
    width: fit-content;
    margin-right: 10px;
    transition: 0.3s ease;
}
.viewbtn:hover{
    background-color: rgb(56, 56, 160);
}
